html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(82, 76, 76);
}




.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 80vh 20vh 120vh 60vh ;
    gap: 10px;
    grid-template-areas: 'header header'
                          'down sidedown'
                          'down side'
                          'footer footer';
   
    
}

.style {
    
    background-color: crimson;
    grid-area: header;
    border-radius: 9px;
}






.style h1 {
    padding-top: 80px;
    margin-left: 10px;
}

.style2 {
    background-color: blanchedalmond;
    grid-area: side;
}

.style3 {
    background-color: cadetblue;
    grid-area: down;
    
}

.style4 {
  background-color: blue;
  grid-area: sidedown;
  border-radius: 5px;
  
}



footer {
    background-color: rgb(233, 227, 227);
    grid-area: footer;
}

.logo {
  background: url(../img/basic.png) no-repeat;
  background-size: 150px;
  height: 150px;
  margin-left: 20px;
}


.footer-move {
  display: flex;
  flex-direction: column;

  width: 100%;
  
}


.footer-content {
  display: flex;
  align-items: center;
}

.footer-topics {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.footer-topics-2 {
  display: flex;
  flex-direction: column;

}


.footer-topics a {
  width: 10px;
  padding: 5px;
  text-decoration: none;
}

.footer-topics-2 a {
  width: 10px;
  padding-left:80px;
  text-decoration: none;
}


