@media (min-width: 1024px) {



html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(82, 76, 76);
}




.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 80vh 20vh 120vh 77vh ;
    gap: 10px;
    grid-template-areas: 'header header'
                          'down sidedown'
                          'down side'
                          'footer footer';
   
    
}

.style {
    
    background-color: crimson;
    grid-area: header;
    border-radius: 9px;
}




.style h1 {
    padding-top: 80px;
    margin-left: 10px;
}

.style2 {
    background-color: blanchedalmond;
    grid-area: side;
}

.style3 {
    background-color: cadetblue;
    grid-area: down;
    
}

.style4 {
  background-color: blue;
  grid-area: sidedown;
  border-radius: 5px;
  
}



footer {
    background-color: rgb(233, 227, 227);
    grid-area: footer;
}

.logo {
  background: url(../img/basic.png) no-repeat;
  background-size: 150px;
  height: 150px;
  margin-left: 280px;
  position: relative;
  top: 120px;
  left: 10px;
}

form h3 {
  font-size: 30px;
}


.footer-move {
  display: flex;
  flex-direction: column;

  width: 100%;
  
}


.footer-content {
  display: flex;
  align-items: center;
  margin-left: 260px;
}

.footer-topics {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-bottom: 250px;
}

.footer-topics-2 {
  display: flex;
  flex-direction: column;
  padding-bottom: 250px;
}


.footer-topics a {
  width: 70px;
  padding: 5px;
  text-decoration: none;
  color: black;
}

.footer-topics-2 a {
  width: 80px;
  margin: 5px;
  margin-left: 80px;
  text-decoration: none;
  color: black;
}

.line {
  background-color: black;
  height: 300px;
  width: 0.5px;
  margin-left: 80px;
  margin-bottom: 250px;

}

.form-footer {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  height: 300px;
  margin-bottom: 220px
}


.user-name {
  height: 20px;
  border-radius: 20px;
  border: none;
  width: 180px;
  position: relative;
  top: 10px;
}

textarea {
  resize: none;
  border-radius: 10px;
  height: 250px !important;
  width: 850px;
}

textarea::placeholder {
  padding-left: 10px;
  padding-top: 2px
}

}

.social-media {
  float: right;
  position: absolute;
  margin-left: 60px;

}





.fa {
  padding: 15px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  
}



.fa:hover {
  opacity: 0.7;
}

.fa-facebook, .fa-twitter, .fa-youtube {
  background-color: black;
  color: white;
}

